@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




.container {
  margin: 0 1em;
  
}

.container_footer .children {
  padding: 0 ;
}


.header {
  display: flex;
  position: sticky;
  top: 0px;
  padding: 0 3rem;
  z-index: 1000;
  border-radius: 20px;
  border: .5px solid white;
  .navbar svg {
    &:target {
      background-color: red;
    }
  }
  
  background: #F7CA18;
  justify-content: space-between;
  align-items: center;
  background:#f9a826;
  // background: #e6e6e6;
  // background: #2f2e41;
  // background: #ffb8b8;
  
  svg {
    width: 30px;
    margin-right: 1em;
    padding: 0;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .button_drawer {
    background-color: rgba(249, 167, 36, 0);
    // background-color: red;
  }
  
  a {
    visibility: hidden;
    position: absolute;
  }
  p {
    visibility: hidden;
    position: absolute;
  }

  @media only screen and (min-width: 769px) {
    .navbar svg {
      visibility: hidden;
      position: absolute;
      
    }
    .navbar div {
      display: flex;
      gap: .25rem;
      align-items: center;
      justify-content: center;
    }
    a {
      font-weight: 500;
      font-size: medium;
      visibility: revert;
      position:static;
    }
    p{
      visibility: revert;
      position: static;
    }
    .button_drawer {
      visibility: hidden;
      position: absolute;
    }
    
    

  }
  
}

.info {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text {
    width: clamp(270px, 70vw, 600px);
    h1 {
      
      margin: 0 auto;
    }
    p{
      
      margin: 0 auto;
      padding: 1rem 0;
    }
    
  }
  button {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    width: clamp(300px, 70vw, 600px);
    border: none;
    gap: 3rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 500;
      font-size: medium;
      color: white;
      border: none;
      border-radius: 10px;
      
      background: var(--color-button);
      padding: 0.5em 1em;
      

      :active {
        border-style: none;
      }
      &:hover {
        display: inline-flex;
        padding: 0.375rem 0.875rem;
        background: none;
        color: black;
        border: 1px solid black;

      }

    }

  }

  .image_container {
    margin: 2rem 3rem;
    .couple_img {
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding-top: 1em;
    }

  }
  @media only screen and (min-width: 769px) {
    flex-direction: row-reverse;

    text {
      width: clamp(270px, 40vw, 600px);

    }
    button {
      width: clamp(270px, 40vw, 600px);
    }
    
    .image_container {
      width: clamp(270px, 40vw, 600px);
    }
  }
}
.blog_title{
  border-top: 1px solid;
  
  .blog {
    display: flex;
    margin: 0 1em;
    position: relative;
    flex-direction: column;
    p {
      font-weight: 800;
      font-size:medium;
      margin: 0;
    }
    h5{
      color: rgb(233, 232, 232);
      padding: 0;
      margin: 1em 0;
    }
    .blog_card_img_real{border-radius: 50%;}
    .blog_card_img {
      position: absolute;
      left: -35px;
      top: 25%;
    }
    .blog_card_1 {

      box-shadow: 30px -30px 10px -20px rgb(0, 0, 0, 0.2);
      position: relative;
      margin: 1em 7em 1em 2em;
      padding: 0 0 .75rem 3rem;
      background: var(--color-button);
      border-radius: 10px;
    }
    .blog_card_2 {

      box-shadow: 30px -30px 10px -20px rgb(0, 0, 0, 0.2);
      position: relative;
      margin: 1em 2em 1em 7em;
      padding: 0 0 .75rem 3rem;
      background: var(--color-button);
      border-radius: 10px;
      
    }
  
    @media only screen and (min-width: 769px) {
      flex-direction: row;
      justify-content: space-around;
      .blog_card_1 {
        padding-right: 3rem;
        
      }
      .blog_card_2 {
        margin-left: 0;
        padding-right: 3em;
        
      }
  
    }
    
  }
}

.video {
  
  padding: 1rem 0;
  text-align: center;

  background-color: #D4EEE9;
  


  .link_video {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: underline black;
    svg {width: 20px;}
  }
  iframe {
    border-radius: 10px;
    display: flex;
    width: clamp(320px, 70vw, 600px);
    height: clamp(197px, 30vh, 500px);
    margin: 1rem auto;
  }
  a {
    display: flex;
    justify-content: center;
    }
}

.price_title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.price{
  border-top: 1px solid;
  margin: 0 auto;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "card_1"
  "card_2"
  "card_3";
  gap:2rem;
  padding: 2rem 1rem;
  .card_1 {
    grid-area: card_1;
  }
  .card_2 {
    grid-area: card_2;
  }
  .card_3 {
    grid-area: card_3;
  }
  .price_card{

    margin: 0 auto;
    padding: 2rem 1rem;
    border: 3px solid rgba(0, 0, 0, 0.7);
    background: #f9a724e6;
    border-radius: 15px;
    box-shadow: 30px -30px 10px -20px rgb(0, 0, 0, 0.2);

    // width: clamp(300px, 15vw, 600px);
    text-align: center;
    
    
    h2 {
      margin: 0;
      padding: 0;
    }
    h4 {
      margin:0;
      padding: .5rem 0;
      
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 2rem;
      
    }
    
    .price_card_head {
      padding-bottom: 1rem;
      
      // border-radius: 50px 0 50px 0;
      // border: 1px solid rgba(0, 0, 0, 0.523);
    }
  
    .price_card_checked {
      display: flex;
      padding: 0.5rem;
      margin: 0 auto;

      // border: 1px solid rgb(21, 85, 97);
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      // width: clamp(200px, 20vw, 400px);
      svg {
        width: 40px;
        height:40px;
        margin: auto 1rem auto 0;
        
        // margin: 0 3rem 0 1.5rem;
      }
      .price_card_checked_text {
        
        padding: 0 2rem;
        width: 90%;
        margin: 0.5rem 0;
        display: flex;
        border: 1px solid rgb(46, 49, 46);
        background: white;
        border-radius: 50px;
      }
    }

    .price_card_footer {
      
      
      width: 83%;
      padding: 0;
      border: 1px solid black;
      border-radius: 10px;
      background: white;
      svg {
        background-color: #ff0000a6;
        
        margin-right: 0;
        border-radius: 0 9px 9px 0;
      }
      
    }
  }
  @media only screen and (min-width: 768px) { //TABLETTES
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "card_1 card_2"
    "card_3 card_3";
    .card_1 {
      grid-area: card_1;

    }
    .card_2 {
      grid-area: card_2;
    }
    .card_3 {
      grid-area: card_3;
    }

  }
  @media only screen and (min-width: 1024px) { //LAPTOP
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "card_1 card_2 card_3";
  }

}

.card {
  
  padding: 3rem 2rem;
  text-align: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: #D4EEE9;

  .card_specification {
    &:hover {
      color: rgba(57, 55, 55, 0.9);
    }
  }
  @media only screen and (min-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}

.cta {
  border-top: 1px solid;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cta_text {
    display: flex;
    flex-direction: column;
  }

  // mask-image: linear-gradient(top, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0  auto 1rem;
    text-align: center;

    font-weight: 500;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 10px;
    
    background: var(--color-button);
    padding: 0.5em 1em;
    width: 10rem;
    height: 3rem;

    :active {
      border-style: none;
    }
    &:hover {
      background: none;
      color: black;
      border: 1px solid black;
    }
  }

  @media only screen and (min-width: 430px) {
    flex-direction: row-reverse;
    justify-content: space-around;
    
  }

}

.footer {
  border-top-color: rgb(255, 230, 6);
  padding: 0;
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    padding: 0;
    list-style-type: none;
    gap: 0 2rem;
    
  }
  section {
    padding: 0;
  }
  img{
    border-radius: 100px;
    &:hover {
      color: white;
    }
  }
  a {
    padding-left: .75em;
  }
  .footer_head{
    display: block;
    background: linear-gradient(180deg, rgb(19, 214, 255) 0%, rgba(0, 112, 255, 1) 50%, rgb(3, 47, 180) 100%);
    padding: 2rem 1rem;
    
    article {
      display: flex;
      align-items: center;
    }
    
    svg {
      width: 20px;
      margin: 0 0 0 1rem;
    }
    h3{
      padding: 0;
      margin: 0 1rem;
      text-align: left;

    }
    h4 {
      padding: 0.5rem;
      margin-left: 0.5rem;;
    }

    .footer_head_brand {
      h3{
        padding-left: 0;
        
      }
    }

    @media only screen and (min-width: 769px) {
      display: flex;
    }
  }
  .footer_footer{
    padding: 2em 1rem;
    background-color:  rgb(59, 59, 59);
    color: rgb(19, 214, 255);
    
    font-weight: 800;
    font-size: large ;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img:hover {background-color:white;}
    
    .footer_footer_logo {
      display: inherit;
      align-items: center;
    }
  }
}